/* Estilos generales */
body {

    border: 0;
    font-family: Arial, sans-serif;
}

.contenedor-principal {
    padding: 5em;
}

/* Título */
#titulos {
    text-align: center;
    margin-bottom: 20px;
}

/* Imagen centrada */
#imagen {
    text-align: center;
    margin-bottom: 20px;
}

/* Cajita de datos */
#cajita {
    background-color: rgb(171, 171, 168);
    padding: 1.5em;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

