* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

body {
  height: 100vh;
  background-color: #fff;
  text-align: center;
}

img {
  width: 80px;
  height: 80px;
  margin: 20px;
}

.encabezado {
  height: 100px;
  width: 100%;
  background-color: #00af00;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px;
}

.contenedor-principal {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor {
  height: 220px;
  width: 450px;
  background-color: white;
  border: 5px solid black;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

#color {
  font-size: 70px;
  font-weight: bold;
}

button {
  font-size: 30px;
  color: white;
  border-radius: 20px;
  background-color: #00af00;
  margin: 15px;
  padding: 10px 30px;
  border: 3px solid #00af00;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ffa500;
  border: 3px solid #ffa500;
}

.centrar-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}